<div class="console">
  <div class="output flex flex-col select-none">
    @if (showPreOutput) {
    <span>Initializing...</span>
    <span class="green">0.0002ms ok!</span>
    <span class="seperator">
      == == == == == == == == == == == == == == == == == ==
    </span>
    <pre contenteditable="false">
      ___           ___           ___           ___           ___           ___           ___           ___           ___                       ___     
     /\  \         /\  \         /\  \         /\  \         /\__\         /\  \         /\  \         /\  \         /\__\          ___        /\  \    
    /::\  \       /::\  \       /::\  \       /::\  \       /::|  |       /::\  \       /::\  \       /::\  \       /:/  /         /\  \       \:\  \   
   /:/\ \  \     /:/\:\  \     /:/\ \  \     /:/\:\  \     /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /          \:\  \       \:\  \  
  _\:\~\ \  \   /::\~\:\  \   _\:\~\ \  \   /::\~\:\  \   /:/|:|  |__   /::\~\:\  \   /::\~\:\  \   /::\~\:\  \   /:/__/  ___      /::\__\       \:\  \ 
 /\ \:\ \ \__\ /:/\:\ \:\__\ /\ \:\ \ \__\ /:/\:\ \:\__\ /:/ |:| /\__\ /:/\:\ \:\__\ /:/\:\ \:\__\ /:/\:\ \:\__\  |:|  | /\__\  __/:/\/__/ _______\:\__\
 \:\ \:\ \/__/ \/__\:\/:/  / \:\ \:\ \/__/ \/__\:\/:/  / \/__|:|/:/  / \/__\:\/:/  / \/__\:\/:/  / \/_|::\/:/  /  |:|  |/:/  / /\/:/  /    \::::::::/__/
  \:\ \:\__\        \::/  /   \:\ \:\__\        \::/  /      |:/:/  /       \::/  /       \::/  /     |:|::/  /   |:|__/:/  /  \::/__/      \:\~~\~~    
   \:\/:/  /        /:/  /     \:\/:/  /        /:/  /       |::/  /         \/__/        /:/  /      |:|\/__/     \::::/__/    \:\__\       \:\  \     
    \::/  /        /:/  /       \::/  /        /:/  /        /:/  /                      /:/  /       |:|  |        ~~~~         \/__/        \:\__\    
     \/__/         \/__/         \/__/         \/__/         \/__/                       \/__/         \|__|                                   \/__/    
 
    </pre>
    <pre contenteditable="false">
01010011 01100001 01110011 01100001 01101110 01010000 01100001 01110010 01110110 01101001 01111010</pre
    >
    <span class="seperator">
      == == == == == == == == == == == == == == == == == ==
    </span>
    <span class="blue">
      type '<span class="grey">help</span>' to see a list of comands available
      <br />
      or '<span class="grey">contact</span>' for a list of ways to contact me.
    </span>
    }
    <p class="outputData !select-text">
      {{ output }}
    </p>
  </div>
  <div class="action">
    <span>root$ </span>
    <textarea
      class="resize-none overflow-hidden"
      cols="30"
      rows="1"
      (keyup)="checkCommand($event)"
      [(ngModel)]="command"
    ></textarea>
  </div>
</div>
