<header
  class="w-full h-20 bg-slate-300 flex flex-row justify-between items-center px-4"
>
  <img class="h-12" src="./assets/images/payever-logo.png" />
  <nav>
    <ul class="flex flex-row">
      <li class="mx-4">
        <button
          mat-button
          routerLink="/calendar"
          routerLinkActive="mat-mdc-unelevated-button"
          ariaCurrentWhenActive="page"
        >
          Calendar
        </button>
      </li>
      <li>
        <button
          mat-button
          routerLink="/about"
          routerLinkActive="mat-mdc-unelevated-button"
          ariaCurrentWhenActive="page"
        >
          About Me
        </button>
      </li>
    </ul>
  </nav>
  <span class="text-sm text-slate-400 font-bold">v1.0 by Sasan Parviz</span>
</header>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
